.shop {
    padding: 5rem 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    a {
        text-decoration: none;
    }
}