@import '../../sassStyles/variable';
.content {
    padding: 5rem 10rem;
    color: $font-color-primary;
}

.button {
    height: 3rem;
    width: 15rem;
    text-align: left;
    border: none;
    outline: none;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 150%;
    transition: .2s ease;
    padding: 2rem 3rem;
    &:hover {
        transform: translateY(-.1rem);
        cursor: pointer;
    }
    &:active {
        transform: translateY(.1rem);
    }
}

.details {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 5rem 0;
}

.image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    img {
        object-fit: contain;
        width: 70%;
    }
}

.cartButton {
    margin-top: 2rem;
}

.information {
    justify-self: flex-end;
    width: 50%;
    &__title {
        font-family: adobe-garamond-pro, serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2.5rem;
        color: $font-color-primary-darker;
        margin-bottom: 1.1rem;
    }
    &__price {
        margin-bottom: 1.1rem;
    }
    &__description {
        margin-bottom: 2rem;
        padding-right: 3rem;
        line-height: 1.6rem;
    }
}

.size {
    width: 10rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    &__label {
        margin-bottom: .3rem;
    }
    &__select {
        color: $font-color-primary-darker;
        font-size: .8rem;
        border: 1px solid $font-color-primary-lighter;
    }
}

.quantity {
    display: flex;
    flex-direction: column;
    width: 5rem;
    &__label {
        margin-bottom: .3rem;
    }
    &__input {
        padding: .5rem 1rem;
        border: 1px solid $font-color-primary-lighter;
        border-radius: .3rem;
        color: $font-color-primary-darker;
    }
}