@import '../../sassStyles/variable';

.cartItem {
  height: 10rem;
  width: 50rem;
  //   border: 2px solid red;
  border-bottom: 1px solid #979797;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
  color: $font-color-primary;


  &__Image {
    height: auto;
    width: 12rem;
    margin-right: 1rem;
  }

  &__ImageWrapper {
    // border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__Label {
    font-size: 1.2rem;
  }

  &__QtyInput {
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    outline: none;
    border: 1px solid #eee;

    &:focus {
      border: 2px solid #000;
    }
  }

  &__DeleteButton {
      background-color: transparent;
      border: none;
      margin-left: .5rem;
      outline: none;
      color: rgb(173, 173, 173);
      transition: .3s color ease;
      &:hover {
          color: rgb(90, 90, 90);
          cursor: pointer;
      }
  }
}
