@import '../../sassStyles/variable';

.cart {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5rem 15rem;
  min-height: calc(100vh - 20rem);
  &__heading {
    font-size: 2rem;
    border-bottom: 1px solid $font-color-primary;

    padding-bottom: 2rem;
  }

  &__empty {
    padding: 2rem 0;
  }

  &__totalPrice {
    text-align: end;
    padding: 1rem 0;
    font-size: 1.1rem;
  }

  &__totalPriceValue {
    font-size: 1.2rem;
    margin-left: 1rem;
  }
}
