@import '../../sassStyles/variable';
@import '../../sassStyles/_mixins.scss';

.cartItem {
  // height: 10rem;
  // width: 50rem;
  width: 80%;
  //   border: 2px solid red;
  border-bottom: 1px solid $font-color-primary-lighter;
  // border: 3px solid red;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
  color: $font-color-primary;
  box-sizing: border-box;


  &__Image {
    // border: 3px solid red;
    height: auto;
    width: 10rem;
    margin-right: 1rem;
  }


  &__actions {
    // border: 5px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__qtyActions {
    align-self: center;
    margin: auto;
    // border: 5px solid red;
  }

  &__QtyInput {
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    outline: none;
    border: 1px solid transparent;

    &:focus {
      border: 1px solid #b5b5b5;
    }
  }

  &__details {
    // border: 5px solid blue;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    button {
      outline: none;
      border: none;
      background-color: transparent;
      color: rgb(113, 113, 113);

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__Price {

  }

  &__DeleteButton {

    background-color: transparent;
    border: none;
    margin-left: .5rem;
    outline: none;
    color: $font-color-primary-lighter;
    transition: .3s color ease;
    // border: 3px solid red;

    &:hover {
      color: $font-color-primary-darker;
      cursor: pointer;
    }
  }

  @include respond(phone) {
    padding: 2rem 0;

    &__QtyInput {
      width: 1.3rem;
      height: 1.3rem;
      font-size: 1.4rem;
    }

    &__Price {
      font-size: 1.5rem;
    }

  }
}