@import '../../sassStyles/_variable.scss';
.imageCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    &__image {
        display: inline-block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__label {
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
        color: $font-color-primary-lighter;
        padding: 1.5rem;
    }
}

.imageWrapper {
    width: 30rem;
    height: 30rem;
}