.imageCarousel {
    // border: 5px solid red;
    padding: 5rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    &__image {
        height: 100%;
        width: 60%;
        animation: fadeAnimation;
        animation-duration: 1.5s;
    }

    &__button {
        z-index: 100;
        position: absolute;
        outline: none;
        border: 3px solid white;
        width: 3rem;
        height: 3rem;
        background-color: transparent;
        
        transition: .4s background-color ease;
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            cursor: pointer;
        }

        &:active {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }

    &__buttonLeft {
        left: 25%;
    }

    &__buttonRight {
        right: 25%;
    }

}

@keyframes fadeAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}