@import '../../../sassStyles/_variable.scss';
.footer {
    // background-color: $dark-green;
    // border-top: .1rem solid gray;
    color: white;
    background-color: black;
    height: 5rem;
    padding: 5rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    &__socialMedia {
        >* {
            transition: .4s color ease;
            padding: .4rem;
            font-size: 1.4rem;
            &:hover {
                cursor: pointer;
                color: $color-white;
            }
        }
    }
    &__copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        >* {
            padding: .4rem;
        }
    }
}