@import '../../../sassStyles/variable';
.button {
    outline: none;
    border: none;
    height: 3rem;
    background-color: $color-black;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    color: $color-white;
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    width: 10rem;
    align-items: center;
    justify-content: center;
    transition: .3s ease all;
    &__label {
        margin-left: 0.5rem;
    }
    &:hover {
        cursor: pointer;
        box-shadow: 0 10px 20px rgba($color: $font-color-primary-lighter, $alpha: .2);
        opacity: .85;
    }
    &:active {
        transform: translateY(.3rem);
    }
}

.disabled {
    opacity: .4;
    &:hover {
        cursor: initial;
        box-shadow: initial;
        opacity: .4;
    }
    &:active {
        transform: initial;
    }
}