.button {
  outline: none;
  border: none;
  height: 3rem;
  background-color: black;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  color: white;
  font-family: 'Didact Gothic', sans-serif;
  position: absolute;
  display: flex;
  width: 10rem;
  align-items: center;
  justify-content: center;

  &__label {
    margin-left: 0.5rem;
  }
  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: gray;
  }
}
