.wrapper {
    background-color: black;
}

.quote {
    height: 30vh;
    color: white;
    font-style: italic;
    font-size: 2rem;
    padding: 5rem 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.customBg {
    height: 50vh;
    border: 5px solid red;
}

.hero {
    // background-color: rgba(255, 255, 255, 0.144);
    border-radius: 10px;
    padding: 10rem 7rem;
    width: 50rem;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    &__metadata {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__heading,
    &__description {
        letter-spacing: 1px;
        margin-bottom: 1rem;
    }
    &__heading {
        font-size: 3rem;
        padding: 1rem 0;
    }
    &__description {
        font-size: 1.1rem;
        font-style: italic;
    }
    &__cta {
        align-self: center;
        line-height: 3rem;
        height: 3rem;
        width: 10rem;
        outline: none;
        border: none;
        letter-spacing: 2px;
        background-color: rgb(255, 94, 0);
        color: white;
        border-radius: 5px;
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-top: 2rem;
        text-decoration: none;
        &:hover {
            cursor: pointer;
            background-color: rgb(255, 148, 47);
        }
    }
}

.parallaxContainer {
    &__hero {
        height: 100vh;
    }
    &__contact {
        height: 50vh;
    }
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    &__heading {
        font-size: 2.5rem;
        letter-spacing: 1px;
        color: white;
        margin-bottom: 1.5rem;
        font-weight: bold;
    }
    &__input {
        width: 20rem;
        height: 1.5rem;
        outline: none;
        border: none;
        padding: .5rem 1rem;
        margin-bottom: 1rem;
    }
    &__submit {
        display: block;
        height: 2.5rem;
        border: none;
        outline: none;
        color: white;
        background-color: rgb(253, 108, 92);
        padding: .5rem 2rem;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
            background-color: salmon;
        }
    }
}