.gallery {
    padding: 5rem 10rem;
    margin: 0 auto;
    min-height: 100vh;
    section {
        display: grid;
        grid-template-columns: repeat(auto-fit, 25rem);
        align-items: center;
        justify-content: space-evenly;
        justify-items: center;
        width: 100%;
    }
    &__image {
        object-fit: contain;
        padding: 1rem 2rem;
        margin: 2rem;
        max-height: 30rem;
        width: 100%;
    }
}