.gallery {
    padding: 5rem 10rem;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    img {
        object-fit: contain;
        padding: 1rem 2rem;
        margin: 2rem;
        max-height: 30rem;
    }
}