$dark-green: #164A41;
$medium-green: #4D774E;
$light-green: #9DC88D;
$natural-yellow: #F1B24A;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;

$font-color-primary: rgb(197, 197, 197);